<article class="vcard">
  <header>
    <section>
      <%= image_tag 'avatar_75x75.jpg', :class => 'photo', :alt => "Stylised photo of #{t :name_given, :scope => [:site]} #{t :name_middle, :scope => [:site]} #{t :name_family, :scope => [:site]}" %>
      <p>
        <%= t :email, :scope => [:site] %><br>
        +353 86 896 8944<br>
        Dublin, Ireland<br>
        <a href="/vcard">Download vCard</a>
      </p>
    </section>
    <h1 class="fn"><a class="url" href="http://<%= request.host %>/"><span class="given-name"><%= t :name_given, :scope => [:site] %></span> <abbr class="additional-name" title="<%= t :name_middle_full, :scope => [:site] %>"><%= t :name_middle, :scope => [:site] %></abbr> <span class="family-name"><%= t :name_family, :scope => [:site] %></span></a></h1>
    <p><%= t(:sub_title, :scope => [:site], :country => '<span class="adr"><span class="country-name">' + t(:country, :scope => [:site]) + '</span></span>').html_safe %></p>
  </header>
  <section>
    <p>
      Hello &amp; welcome. I am a web developer &amp; designer with 10 years of experience looking to work on great projects.
      I am comfortable building websites &amp; webapps from start to finish, front-end &amp; back-end, though I relish the chance to work with talented teams. My skills range from HTML5, CSS3, JavaScript &amp; jQuery through to Ruby on Rails, node.js, MySQL, XML &amp; JSON &amp; various NoSQL solutions. I can also work in Objective-C &amp; build iOS apps for iPhone &amp; iPad though I am a web developer at heart. While I prefer Git I'm happy enough using subversion. I have creative skills in Adobe Photoshop, Fireworks &amp; Pixelmator &amp; I can also take photographs. 
      Download my <a href="/paulmwatson_resume.pdf">resume</a> or contact me via email <a href="mailto:<%= t :email, :scope => [:site] %>"><%= t :email, :scope => [:site] %></a>, phone <span class="tel"><%= t :phone, :scope => [:site] %></span>, Twitter <a class="url" href="http://twitter.com/<%= t :twitter, :scope => [:site] %>">@<%= t :twitter, :scope => [:site] %></a> or Skype <a class="url" href="skype:<%= t :skype, :scope => [:site] %>?call"><%= t :skype, :scope => [:site] %></a>.
      I recently finished full-time work with <a href="http://muzu.tv/">MUZU.tv</a> &amp; am now available as a freelancer from €400 a day.
      <a class="button" href="mailto:<%= t :email_hire, :scope => [:site] %>">Hire Me</a>
    </p>
  </section>
  <footer>
    <ul>
      <li>Updated <time datetime="2011-02-01" pubdate>1st of February 2011</time></li>
      <li><a href="http://blog.paulmwatson.com/">Blog</a></li>
      <li><a href="http://github.com/paulmwatson/">Code</a></li>
      <li><a href="http://behance.net/paulmwatson/frame">Portfolio</a></li>
      <li><a href="http://delicious.com/PaulMWatson/">Links</a></li>
      <li><a href="https://www.google.com/calendar/b/0/embed?src=<%= t :email, :scope => [:site] %>&amp;ctz=Europe/Dublin">Calendar</a></li>
      <li><a href="http://ie.linkedin.com/in/paulmwatson">LinkedIn</a></li>
      <li><a href="http://flickr.com/paulwatson/">Photos</a></li>
      <li><a href="http://lastfm.com/user/paulmwatson/">Music</a></li>
    </ul>
  </footer>
</article>