<article class="intro">
  <header>
    <section>
      <%= image_tag 'avatar_75x75_red.jpg', :class => 'photo', :alt => "Stylised photo of #{t :name_given, :scope => [:site]} #{t :name_middle, :scope => [:site]} #{t :name_family, :scope => [:site]}" %>
      <p>
        <%= t :email, :scope => [:site] %><br>
        <span class="tel">&plus;<%= t(:phone, :scope => [:site]).html_safe %></span><br>
        <span class="adr"><span class="locality"><%= t(:town, :scope => [:site]) %></span>, <span class="country-name"><%= t(:country, :scope => [:site]) %></span></span><br>
        <a class="download" href="/vcard">Download vCard</a>
      </p>
    </section>
    <h1 class="fn"><a class="url" href="http://<%= request.host %>/"><span class="given-name"><%= t :name_given, :scope => [:site] %></span> <abbr class="additional-name" title="<%= t :name_middle_full, :scope => [:site] %>"><%= t :name_middle, :scope => [:site] %></abbr> <span class="family-name"><%= t :name_family, :scope => [:site] %></span></a></h1>
    <p><%= t(:sub_title, :scope => [:site], :country => t(:country, :scope => [:site])).html_safe %></p>
  </header>
  <div id="showcase" class="showcase">
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <p>
            Hello &amp; welcome. I am a web developer working for <a href="http://storyful.com/" title="Storyful.com">Storyful.com</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <img src="/images/photos/storyful.jpg" height="400">
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <p>
            I build digital tools &amp; communities for the future of journalism. I work with HTML5, CSS3, JavaScript &amp; jQuery, Ruby on Rails, node.js, MySQL, XML, JSON &amp; various NoSQL solutions.
          </p>
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <img src="/images/photos/leah.jpg" height="400">
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <p>
            I have a beautiful 3 year old daughter.
          </p>
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <img src="/images/photos/fionaandpaul.jpg" height="400">
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <p>
            And a gorgeous fiancée.
          </p>
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <img src="/images/photos/dawn.jpg" height="400">
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <p>
            I am from South Africa. Cape Town and Durban are my home towns. You should visit Namibia too.
          </p>
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <img src="/images/photos/deadvlei.jpg" width="48%" align="left">&nbsp;
          <img src="/images/photos/dune.jpg" width="48%">
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <p>
            Download my <a href="/paulmwatson_resume.pdf">resume</a> or contact me on <a class="url" href="http://twitter.com/<%= t :twitter, :scope => [:site] %>">Twitter</a> or via <a href="mailto:<%= t :email, :scope => [:site] %>">email</a>, <a href="callto:+<%= t(:phone, :scope => [:site]).gsub(' ', '') %>">phone</a> or <a class="url" href="callto:<%= t :skype, :scope => [:site] %>">Skype</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</article>