<!DOCTYPE html>
  <head lang="<%= I18n.locale %>">
    <title>Steve Jobs - 1955-2011</title>
    <meta name="description" content="<%= t :description, :scope => :site, :country => t(:country, :scope => [:site]), :name_given => t(:name_given, :scope => [:site]), :name_middle => t(:name_middle_full, :scope => [:site]), :name_family => t(:name_family, :scope => [:site]) %>">
    <meta charset="<%= Encoding.default_external.name %>">
    
    <meta name="cdn" content="<%= asset_host %>">
    
    <link type="text/plain" rel="author" href="http://<%= request.host %>/humans.txt">
    
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%- if (Rails.env.production?) -%>
    <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
    <%- end -%>
    <%= include_stylesheets :base4, :media => 'screen' %>
    <%= csrf_meta_tag %>
  </head>
  <body class="vcard white">
    <%= yield %>
    <%- if !@hide_footer -%>
    <footer>
      <ul>
        <li>Updated <time datetime="2011-06-22" pubdate>22nd of June 2011</time></li>
        <li><a href="http://blog.paulmwatson.com/">Blog</a></li>
        <li><a href="http://github.com/paulmwatson/">Code</a></li>
        <li><a href="http://behance.net/paulmwatson/frame">Portfolio</a></li>
        <li><a href="http://delicious.com/PaulMWatson/">Links</a></li>
        <li><a href="https://www.google.com/calendar/b/0/embed?src=<%= t :email, :scope => [:site] %>&amp;ctz=Europe/Dublin">Calendar</a></li>
        <li><a href="http://flickr.com/paulwatson/">Photos</a></li>
        <li><a href="http://lastfm.com/user/paulmwatson/">Music</a></li>
        <li><a class="url" href="http://twitter.com/<%= t :twitter, :scope => [:site] %>">Twitter</a></li>
        <li><a href="http://ie.linkedin.com/in/paulmwatson">LinkedIn</a></li>
      </ul>
    </footer>
    <%- end -%>
    <%= include_javascripts :common2 %>
    <%- if (Rails.env.production?) -%>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-265441-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
      var GoSquared={};
      GoSquared.acct = "GSN-107308-H";
      (function(w){
          function gs(){
              w._gstc_lt=+(new Date); var d=document;
              var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
              var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
          }
          w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
      })(window);
    </script>
    <script>
      /*var intercomSettings = {
          app_id: 'hjrsswna',
          email: '<%= @current_user.email %>',
          widget: {
            activator: '#IntercomDefaultWidget'
          },
          user_hash: '<%= Digest::SHA1.hexdigest('cbnuv8rh' + @current_user.email) %>',
          created_at: '<%= @current_user.created_at.to_i %>'
        };
        (function() {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'https://api.intercomapp.com/api/js/library.js';
          var script = document.getElementsByTagName('script')[0];
          script.parentNode.insertBefore(s, script);
      })();*/
    </script>
    
    <%- end -%>
    <style>
      html, body {background-color: #fff; overflow: hidden;}
      footer {display: none;}
      #stevejobs {display: block; position: absolute; bottom: -10px; right: 0;}
    </style>
  </body>
</html>