<!DOCTYPE html>
  <head lang="<%= I18n.locale %>">
    <title><%= t :sub_title, :scope => :site %> - <%= t :title, :scope => [:site] %></title>
    <meta charset="<%= Encoding.default_external.name %>">

    <meta property="og:title" content="<%= t :sub_title, :scope => :site %> - <%= t :title, :scope => [:site] %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://<%= request.host %>/"/>
    <meta property="og:image" content="http://d55udxcumsrf1.cloudfront.net/images/avatar_75x75.jpg"/>
    <meta property="og:site_name" content="<%= t :title, :scope => [:site] %>">
    <meta property="fb:app_id" content="<%= t :fb_app_id, :scope => [:site] %>">
    <meta property="og:description" content="<%= t :description, :scope => [:site] %>">
                   
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <%= include_stylesheets :common, :media => 'screen' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
    <footer>
      <p>Updated <time datetime="2011-01-19" pubdate>January 19, 2011</time></p>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
    <%= include_javascripts :common %>
    <%- if (Rails.env.production?) -%>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-265441-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <%- end -%>
  </body>
</html>