<!DOCTYPE html>
  <head lang="<%= I18n.locale %>">
    <script src="http://cdn.optimizely.com/js/4878149.js"></script>

    <title><%= t :sub_title, :scope => :site, :country => t(:country, :scope => [:site]) %> - <%= t :name_given, :scope => [:site] %> <%= t :name_middle, :scope => [:site] %> <%= t :name_family, :scope => [:site] %></title>
    <meta charset="<%= Encoding.default_external.name %>">
    
    <meta name="cdn" content="<%= asset_host %>">
    
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
    <%= include_stylesheets :base, :media => 'screen' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
    <%- if (Rails.env.production?) -%>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-265441-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <%- end -%>
  </body>
</html>